<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="This is a lead-generation landing page and it contains a hero, features, testimonials and a configurable form. This demo page uses the landing-1.html template.">
<meta name="keywords" content="Fusion ">
<meta name="author" content="PIXINVENT">

<link rel="apple-touch-icon" sizes="60x60" href="/img/ico/apple-icon-60.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/ico/apple-icon-76.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/ico/apple-icon-120.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/ico/apple-icon-152.png">
<link rel="shortcut icon" type="image/x-icon" href="/img/ico/favicon.jpg">
<link rel="shortcut icon" type="image/png" href="/img/ico/favicon-32.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
<!-- BEGIN VENDOR CSS-->
<!-- font icons-->
<link rel="stylesheet" type="text/css" href="/fonts/feather/style.min.css">
<link rel="stylesheet" type="text/css" href="/fonts/simple-line-icons/style.css">
<link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/vendors/css/perfect-scrollbar.min.css">
<link rel="stylesheet" type="text/css" href="/vendors/css/prism.min.css">
<link rel="stylesheet" type="text/css" href="/vendors/css/chartist.min.css">
<!-- END VENDOR CSS-->
<!-- BEGIN APEX CSS-->
<link rel="stylesheet" type="text/css" href="/css/app.css">

<script src="/vendors/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="/vendors/js/core/popper.min.js" type="text/javascript"></script>
<script src="/vendors/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="/vendors/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
<script src="/vendors/js/prism.min.js" type="text/javascript"></script>
<script src="/vendors/js/jquery.matchHeight-min.js" type="text/javascript"></script>
<script src="/vendors/js/screenfull.min.js" type="text/javascript"></script>
<script src="/vendors/js/pace/pace.min.js" type="text/javascript"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script src="/vendors/js/chartist.min.js" type="text/javascript"></script>
<!-- END PAGE VENDOR JS-->
<!-- BEGIN APEX JS-->
<script src="/js/app-sidebar.js" type="text/javascript"></script>
<script src="/js/notification-sidebar.js" type="text/javascript"></script>
<script src="/js/customizer.js" type="text/javascript"></script>
<!-- END APEX JS-->
<!-- BEGIN PAGE LEVEL JS-->
<script src="/js/dashboard1.js" type="text/javascript"></script>
