<% include head.ejs %>

<div class="wrapper">
    <div class="main-panel">
      <div class="main-content">
        <div class="content-wrapper"><!--Login Page Starts-->
<section id="login">
  <div class="container-fluid">
      <div class="row full-height-vh">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="card gradient-indigo-purple text-center width-400">
                  <div class="card-img overlap">
                      <img alt="element 06" class="mb-1" src="../img/portrait/avatars/avatar-08.png" width="190">
                  </div>
                  <div class="card-body">
                      <div class="card-block">
                          <h2>Login</h2>
                          <form action="/login" method="post">
                            <% if (message.length > 0) { %>
                                <div ><%= message %></div>
                            <% } %>

                              <div class="form-group">
                                  <div class="col-md-12">
                                      <input type="email" class="form-control" name="email" id="email" placeholder="Email" required >
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-md-12">
                                      <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="row">
                                      <div class="col-md-12">
                                          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                              <input type="checkbox" class="custom-control-input" checked>
                                              <span class="custom-control-indicator ml-4"></span>

                                          </label>
                                      </div>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-md-12">
                                      <button type="submit" class="btn btn-pink btn-block btn-raised">Submit</button>
                                      <button type="button" class="btn btn-secondary btn-block btn-raised">Cancel</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="card-footer">

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--Login Page Ends-->
        </div>
      </div>
    </div>
  </div>
