<% include head.ejs %>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> New User Create</h1>

    <!-- show any messages that come back with authentication -->


    <!-- LOGIN FORM -->
    <form action="/newuser/create" method="post">

        <div class="form-group">
            <label>Name</label>
            <input type="text" required class="form-control" name="name">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" required class="form-control" name="emailid">
        </div>
        <div class="form-group">
            <label>Mobile No</label>
            <input type="text" class="form-control" name="MobileNo">
        </div>
        <div class="form-group">
            <label>Message</label>
           <textarea name="message"  class="form-control" id="message"></textarea>
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>


</div>

</div>
