<!doctype html>
<html lang="en">


<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Fusion RPO | Claim your free trial worth $200 </title>
        <meta name="description" content="Award-winning RPO solutions that make customers happy, Get AIRS-trained staff starting at $5/hour">
       <meta name="keywords" content ="RPO Solutions, Fusion Business Solutions, Recruitment Process, Hiring Remote Staff, Resume Sourcing, Contact Validation, Email Markting, CRM Management">
        <meta name="author" content="Anand Prakash">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="/img/ico/favicon.jpg">

        <!-- Load Google Fonts faster. -->
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

        <!-- Main stylesheet. -->
        <link rel="stylesheet" type="text/css" href="/css/app.min1.css">
        <!-- Color theme -->
        <link rel="stylesheet" id="link-color-scheme" href="http://adipurdila.com/ascensionlp/assets/css/skins/color-scheme-1.min.css">

        <!-- Font pair. -->
        <link rel="stylesheet" id="link-font-pair" href="http://adipurdila.com/ascensionlp/assets/css/skins/font-pair-1.min.css">


    </head>
    <body class=" no-js">

        <!-- HERO. -->
        <div class="hero color-bg artwork-bg" data-internal-nav-section id="top">
            <!-- Main header. -->
            <header class="grid sm-center lg-distribute middle main" data-smart-header style="padding:1.5rem">
                <div class="cell shrink">
                    <a href="demo-1.html" class="hide-on-cloned"><img src="..\img\anisha\fusion2.png" alt="Logo"></a>
                    <a href="demo-1.html" class="show-on-cloned"><img src="http://adipurdila.com/ascensionlp/assets/img/blank.png" data-src="..\img\anisha\fusion3.png" class="lazyload" alt="Logo"></a>
                </div> <!-- end .cell -->

                <nav class="cell shrink menu hide-sm show-lg" data-internal-nav>
                    <ul>
                        <li><a>info@fusionfirst.com</a></li>
                        <li><a> +1-240-979-0061(USA)</a></li>
                        <li><a>+91-97722-79996(India)</a></li>
                    </ul>
                </nav>
            </header> <!-- end header.main -->

            <div class="wrapper content flush-top">
                <div class="grid  center gutter">
                    <div class="cell md-10 lg-6 xlg-4">

                        <h1 style="font-size:60px;text-align:center">Award-winning RPO solutions that make customers happy</h1>
                        <h3 style="font-size:50px;text-align:center;color:#33FFDA ;">Get AIRS-trained staff starting at $5/hour</h3>
                        <div class="w3-content w3-section" style="max-width:500px;margin-left:50px">
                          <img class="mySlides" src="..\img\demo\one1.jpg" style="width:100%">
                          <img class="mySlides" src="..\img\demo\one2.jpg" style="width:100%">

                          <img class="mySlides" src="..\img\demo\one4.jpg" style="width:100%">
                        </div>
                        <div class="cell sm-12 lg-1"><!-- a vertical spacer --></div>


                    </div> <!-- end .cell -->




                    <div class="cell sm-12 lg-1"><!-- a vertical spacer --></div>

                    <div class="cell md-auto lg-5 xlg-4">
                        <div class="form-container with-header">
                            <header>
                                <h4 class="heavy">Claim your free trial worth $200</h4>
                              <!--  <p><small><em>No credit card required.</em></small></p> -->
                            </header>

                            <div class="content">
                                <form action="/fusion/rpo" method="POST" class="alternate">
                                    <div class="form-group">
                                        <label for="name">Your Name:</label>
                                        <input type="text" id="name" name="name" >
                                    </div> <!-- end .form-group -->

                                    <div class="form-group">
                                        <label for="email">Your Email Address:</label>
                                        <input type="email" id="email" name="emailid">
                                    </div> <!-- end .form-group -->
                                    <div class="form-group">
                                        <label for="mobile">Mobile Number:</label>
                                        <input type="text" id="MobileNo" name="MobileNo">
                                    </div> <!-- end .form-group -->
                                    <div class="form-group">
                                        <label for="mobile">Comapany Name:</label>
                                        <input type="text" id="MobileNo" name="companyname">
                                    </div>
                                    <div class="form-group">
                                        <label for="message">Message:</label>
                                        <textarea id="message" name="message"></textarea>
                                    </div> <!-- end .form-group -->

                                    <button class="button large full-width">Get Started</button>

                                    <p><small><em>By clicking the button you agree to Fusion's Terms of Service.</em></small></p>
                                </form>
                            </div> <!-- end .content -->
                        </div> <!-- end .form-container -->
                    </div> <!-- end .cell -->


                </div> <!-- end .grid -->
            </div> <!-- end .wrapper -->
        </div> <!-- end .hero -->

        <!-- FEATURES. -->
        <div class="wrapper section" id="a-complete-package" data-internal-nav-section style="padding-bottom: 2px;">
            <div class="section-title" style="margin: 0 auto 2rem;">
                <h2>A Complete Package.</h2>
                <h4>We have everything you need - So you can focus on making Placements versus doing all by yourself.</h4>
            </div> <!-- end .section-title -->

            <div class="grid gutter md-6 lg-4">

              <div class="cell">
                  <div class="media-object middle">
                      <div class="icon">
                          <img src="http://adipurdila.com/ascensionlp/assets/img/blank.png" data-src="../img/placeholder/icons/mail-box.svg" class="lazyload" alt="Icon">
                      </div> <!-- end .icon -->

                      <h4 class="thin">Job Posting</h4>
                  </div> <!-- end .media-object -->
              </div> <!-- end .cell -->

              <div class="cell">
                  <div class="media-object middle">
                      <div class="icon">
                          <img src="http://adipurdila.com/ascensionlp/assets/img/blank.png" data-src="../img/placeholder/icons/chat.svg" class="lazyload" alt="Icon">
                      </div> <!-- end .icon -->

                      <h4 class="thin">Initial Communication</h4>
                  </div> <!-- end .media-object -->
              </div> <!-- end .cell -->

              <div class="cell">
                  <div class="media-object middle">
                      <div class="icon">
                          <img src="http://adipurdila.com/ascensionlp/assets/img/blank.png" data-src="../img/placeholder/icons/calendar.svg" class="lazyload" alt="Icon">
                      </div> <!-- end .icon -->

                      <h4 class="thin">Calender Management</h4>
                  </div> <!-- end .media-object -->
              </div> <!-- end .cell -->

              <div class="cell">
                  <div class="media-object middle">
                      <div class="icon">
                          <img src="http://adipurdila.com/ascensionlp/assets/img/blank.png" data-src="../img/placeholder/icons/one.svg" class="lazyload" alt="Icon">
                      </div> <!-- end .icon -->

                      <h4 class="thin">Resume Sourcing</h4>
                  </div> <!-- end .media-object -->
              </div> <!-- end .cell -->

              <div class="cell">
                  <div class="media-object middle">
                      <div class="icon">
                          <img src="http://adipurdila.com/ascensionlp/assets/img/blank.png" data-src="../img/placeholder/icons/team.svg" class="lazyload" alt="Icon">
                      </div> <!-- end .icon -->

                      <h4 class="thin">ATS Management</h4>
                  </div> <!-- end .media-object -->
              </div> <!-- end .cell -->

                <div class="cell">
                    <div class="media-object middle">
                        <div class="icon">
                            <img src="http://adipurdila.com/ascensionlp/assets/img/blank.png" data-src="../img/placeholder/icons/share.svg" class="lazyload" alt="Icon">
                        </div> <!-- end .icon -->



                        <h4 class="thin">Creating Candidates Pipelining</h4>
                    </div> <!-- end .media-object -->
                </div> <!-- end .cell -->



                <div class="cell">
                    <div class="media-object middle">
                        <div class="icon">
                            <img src="http://adipurdila.com/ascensionlp/assets/img/blank.png" data-src="../img/placeholder/icons/community.svg" class="lazyload" alt="Icon">
                        </div> <!-- end .icon -->

                        <h4 class="thin">Head Hunting</h4>
                    </div> <!-- end .media-object -->
                </div> <!-- end .cell -->

                <div class="cell">
                    <div class="media-object middle">
                        <div class="icon">
                            <img src="http://adipurdila.com/ascensionlp/assets/img/blank.png" data-src="../img/placeholder/icons/icon-backup.svg" class="lazyload" alt="Icon">
                        </div> <!-- end .icon -->

                        <h4 class="thin">Contact Validation</h4>
                    </div> <!-- end .media-object -->
                </div> <!-- end .cell -->
                <div class="cell">
                    <div class="media-object middle">
                        <div class="icon">
                            <img src="http://adipurdila.com/ascensionlp/assets/img/blank.png" data-src="../img/placeholder/icons/talking.svg" class="lazyload" alt="Icon">
                        </div> <!-- end .icon -->

                        <h4 class="thin">Contact Extraction</h4>
                    </div> <!-- end .media-object -->
                </div> <!-- end .cell -->

                <div class="cell">
                    <div class="media-object middle">
                        <div class="icon">
                            <img src="http://adipurdila.com/ascensionlp/assets/img/blank.png" data-src="../img/placeholder/icons/inbox.svg" class="lazyload" alt="Icon">
                        </div> <!-- end .icon -->

                        <h4 class="thin">Database Building</h4>
                    </div> <!-- end .media-object -->
                </div> <!-- end .cell -->

                <div class="cell">
                    <div class="media-object middle">
                        <div class="icon">
                            <img src="http://adipurdila.com/ascensionlp/assets/img/blank.png" data-src="../img/placeholder/icons/profits.svg" class="lazyload" alt="Icon">
                        </div> <!-- end .icon -->

                        <h4 class="thin">CRM Management</h4>
                    </div> <!-- end .media-object -->
                </div> <!-- end .cell -->

                <div class="cell">
                    <div class="media-object middle">
                        <div class="icon">
                            <img src="http://adipurdila.com/ascensionlp/assets/img/blank.png" data-src="../img/placeholder/icons/envelope.svg" class="lazyload" alt="Icon">
                        </div> <!-- end .icon -->

                        <h4 class="thin">Email Marketing</h4>
                    </div> <!-- end .media-object -->
                </div> <!-- end .cell -->
            </div> <!-- end .grid -->
        </div> <!-- end .section -->

        <!-- TESTIMONIALS. -->

        <div class="light-bg" id="our-users" data-internal-nav-section>
            <div class="section">

                <div class="wrapper slider-container" id="testimonials">

                    <div>
                      <h2>What our clients say</h2>
                      <h4>Don't just take our word for it, see what others are saying.</h4>
                        <img src="http://adipurdila.com/ascensionlp/assets/img/blank.png" data-src="../img/placeholder/icons/Mike.jpg" style="border-radius:43px" class="lazyload" alt="Logo">

                         <hr class="thick short">

                        <blockquote>
                            <p>&quot; I set the bar high while I took the complimentary trial offered by Fusion. The outcome was more than expected and the quality is been maintained till date as expected. If you need help with Pre Sales activities like Lead Generation and RPO services, go to Fusion and you will be amazed by the output.&quot;</p>

                            <cite>- Mike Jones, Codex -</cite>
                        </blockquote>
                    </div>
                    <div>
                      <h2>What our clients say</h2>
                      <h4>Don't just take our word for it, see what others are saying.</h4>
                        <img src="http://adipurdila.com/ascensionlp/assets/img/blank.png" data-src="../img/placeholder/icons/Amanda.jpg" style="border-radius:43px" class="lazyload" alt="Logo">

                        <hr class="thick short">

                        <blockquote>
                            <p>&quot;Never imagined that Fusion would become an essential part of our daily operations until we took the trial. We have been working with Fusion for many years now and their attention to minor details and sense of exigency towards the critical requirements is commendable.&quot;</p>

                            <cite>- Amanda, Cornhouse Consulting -</cite>
                        </blockquote>
                    </div>

                </div> <!-- end slider-container -->
            </div> <!-- end .section -->


        </div> <!-- end .light-bg -->










        <!-- CALL-TO-ACTION. -->
        <div class="wrapper" style="padding-top:30px ;clear:both;">
            <div class="well light-bg" data-internal-nav>
                <h3>Claim your free trial worth $200. No credit card is required</h3>

                <a href="#top" class="button">Get Started</a>
            </div> <!-- end .well -->
        </div> <!-- end .wrapper -->










        <!-- FOOTER. -->
        <footer class="wrapper section text-center">
            <img src="http://adipurdila.com/ascensionlp/assets/img/blank.png" data-src="../img/anisha/fusion3.png" class="logo lazyload" alt="Logo mono">

            <p>Call us: +91-97722-79996(India)<br>
                        +1-240-979-0061(USA)
            </p>
            <p><a href="mailto:info@fusionfirst.com">info@fusionfirst.com</a></p>

        </footer> <!-- end .wrapper -->



        <!-- Event snippet for Thankyou Page conversion page -->
 


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../assets/js/cdn-fallback/jquery-3.2.1.min.js" type="text/javascript"><\/script>')</script>
        <script src="http://adipurdila.com/ascensionlp/assets/js/app.min.js"></script>
        <script>
        var myIndex = 0;
        var myIndexone = 0;
        carousel();
        carouselone();

        function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          myIndex++;
          if (myIndex > x.length) {myIndex = 1}
          x[myIndex-1].style.display = "block";
          setTimeout(carousel, 2000); // Change image every 2 seconds
        }
        function carouselone() {
          var i;
          var x = document.getElementsByClassName("mySlidesone");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          myIndexone++;
          if (myIndexone > x.length) {myIndexone = 1}
          x[myIndexone-1].style.display = "block";
          setTimeout(carouselone, 2000); // Change image every 2 seconds
        }
      </script>

    </body>

<!-- Mirrored from adipurdila.com/ascensionlp/demos/demo-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Apr 2018 16:21:06 GMT -->
</html>
