<nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" class="navbar-toggle d-lg-none float-left"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <form role="search" class="navbar-form navbar-right mt-1">
          <div class="position-relative has-icon-right">
            <input type="text" placeholder="Search" class="form-control round"/>
            <div class="form-control-position"><i class="ft-search"></i></div>
          </div>
        </form>
      </div>
      <div class="navbar-container">
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item mr-2"><a id="navbar-fullscreen" href="javascript:;" class="nav-link apptogglefullscreen"><i class="ft-maximize font-medium-3 blue-grey darken-4"></i>
                <p class="d-none">fullscreen</p></a></li>


            <li class="dropdown nav-item"><a id="dropdownBasic3" href="#" data-toggle="dropdown" class="nav-link position-relative dropdown-toggle"><i class="ft-user font-medium-3 blue-grey darken-4"></i>
                <p class="d-none">User Settings</p></a>
              <div ngbdropdownmenu="" aria-labelledby="dropdownBasic3" class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-divider"></div><a href="/logout" class="dropdown-item"><i class="ft-power mr-2"></i><span>Logout</span></a>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </nav>
