
<% include head.ejs %>
<div class="wrapper">
 <% include leftslidebar.ejs %>



<div class="main-panel">

 <% include topbar.ejs %>
<div class="main-content">
  <div class="row">


   

<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="basic-layout-colored-form-control">User Profile</h4>
            <p class="mb-0">You can always change the border color of the form controls using <code>border-*</code> class. In this example we have user <code>border-primary</code> class for form controls. Form action buttons are on the bottom right position.</p>
        </div>
        <div class="card-body">
            <div class="px-3">						
                    <% if (detailError.length > 0) { %>
                        <div class="alert alert-danger"><%= detailError %></div>
                    <% } %>
                    <% if (detailSuccess.length > 0) { %>
                        <div class="alert alert-success"><%= detailSuccess %></div>
                    <% } %>
                <form class="form" action="/edit/details" method="post">
                    <div class="form-body">
                        <h4 class="form-section"><i class="ft-info"></i> About User</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="userinput1">Full Name</label>
                                    <input type="text" value="<%=NewUser.fullname %>" id="userinput1" class="form-control border-primary" name="fullname">
                                </div>
                            </div>
                            
                                            
                                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="userinput2">User Name</label>
                                    <input type="text" value="<%=NewUser.username %>" id="userinput2" class="form-control border-primary" name="username">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="userinput3">Email id</label>
                                    <input type="email" value="<%=NewUser.emailid %>" id="userinput3" class="form-control border-primary" name="emailid">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="userinput4">State</label>
                                    <input type="text" value="<%=NewUser.State%>" id="userinput4" class="form-control border-primary" name="State">
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="_id" value="<%=NewUser._id%>">

                        <div class="form-group">
                            <label for="userinput5">Address</label>
                           <textarea name="Address" class="form-control border-primary"  id="address">
                            <%=NewUser.Address%>
                           </textarea>
                        </div>

                        <div class="form-group">
                            <label for="userinput6">MobileNo</label>
                            <input class="form-control border-primary" value="<%=NewUser.MobileNo%>" type="text" id="mobile" name="MobileNo">
                        </div>

                        
                    </div>

                    <div class="form-actions right">
                        <button type="button" class="btn btn-raised btn-warning mr-1">
                            <i class="ft-x"></i> Cancel
                        </button>
                        <button type="submit" class="btn btn-raised btn-primary">
                            <i class="fa fa-check-square-o"></i> Save
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


</div>
</div> 

</div>

</div>