<!-- views/signup.ejs -->

<% include head.ejs %>
<div class="wrapper">
 <% include leftslidebar.ejs %>



<div class="main-panel">

 <% include topbar.ejs %>
<div class="main-content">
  <div class="row">
<div class="col-sm-12 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> User List</h1>

    <!-- show any messages that come back with authentication -->


    <!-- LOGIN FORM -->

    <section id="striped-light">
        <div class="row">


            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                         </div>
                    <div class="card-body">
                        <div class="card-block">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>emailid</th>
                                        <th>MobileNo</th>
                                        <th>message</th>
                                        <th>Company Name</th>
                                        
                                    </tr>
                                </thead>
                                   <%  var i= 1;%>
                                    <% NewUserdata.forEach(function(NewUser){%>

                                        <tr>
                                             <TD> <%= i %></TD>
                                            <td><%=NewUser.name %> </td>
                                            <td><%=NewUser.emailid %></td>
                                            <td><%=NewUser.MobileNo %></td>
                                            <td><%=NewUser.message%></td>
                                            <td><%=NewUser.companyname%></td>
                                            
                                              <% i++; %>

                                        </tr>
                                    <%})%>


                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




</div>
</div>
</div>

</div>

</div>
