<html>
<% include head.ejs %>
<head><title>Fusion RPO | Claim your free trial worth $200 </title></head>

<body>

<!-- Google Code for Thankyou Page Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 808904798;
var google_conversion_label = "U72kCPPBkYEBEN7Q24ED";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/808904798/?label=U72kCPPBkYEBEN7Q24ED&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<div class="row">


<div class="container-fluid gradient-flickr white">
<div class="row full-height-vh">
<div class="col-12 d-flex align-items-center justify-content-center">
<div class="card card-transparent box-shadow-0 no-border">
<div class="card-body">
<div class="text-center">
<h1 class="card-text pb-2" style="font-size:60px">Thank You.</h1>


<div class="col-12 pt-1">

<a href="http://www.fusionfirst.com/services/business-process-consulting/recruitment-support-services/" class="btn mb-1 btn-primary btn-lg btn-block" target="_blank">Explore More</a>
</div>

</div>
</div>
</div>
</div>
</div>
</div>

<!--Coming soon ends-->

</div>

<!-- Event snippet for Thankyou Page conversion page -->


</body>
</html>
