.compact {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important
}

@media only screen and (min-width:768px) {
    .compact {
        padding-top: 4rem!important;
        padding-bottom: 4rem!important
    }
}

.flush-top {
    padding-top: 0!important
}

.flush-bottom {
    padding-bottom: 0!important
}


/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption,
figure,
main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

#mc_embed_signup .indicates-required,
small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,
menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

[hidden],
template {
    display: none
}

.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list,
.slick-slider {
    position: relative;
    display: block
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:after,
.slick-track:before {
    display: table;
    content: ""
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

* {
    box-sizing: border-box
}

body {
    -webkit-font-smoothing: antialiased
}

a {
    text-decoration: none;
    transition: all .3s ease-in-out
}

p {
    margin: 1rem 0
}

.button {
    display: inline-block;
    padding: 1rem 2rem;
    border: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    margin-top: 1rem;
    border-radius: 5px;
    transition: all .3s ease-in-out
}

.button.pill {
    border-radius: 100px
}

.button.large {
    padding: 1.5rem 2rem;
    margin-top: 3rem
}

@media only screen and (min-width:768px) {
    .button.large {
        padding: 1.5rem 3rem
    }
    .button.large.pill {
        padding: 1.5rem 4rem
    }
}

.button.ghost {
    border: 3px solid
}

.button.full-width {
    width: 100%
}

.scroll-down-button {
    margin-top: 8rem;
    margin-bottom: 0
}

hr+.button {
    margin-top: 0
}

.button-group a {
    margin-right: .5rem;
    margin-left: .5rem
}

.icon {
    border: 1px solid;
    width: 4rem;
    height: 4rem;
    position: relative;
    border-radius: 100%
}

.icon.small {
    width: 3.5rem;
    height: 3.5rem
}

.icon.small img {
    height: 1.2rem
}

.icon.small i:before {
    -webkit-transform: scale(.8) translate(-60%, -60%);
    transform: scale(.8) translate(-60%, -60%)
}

.icon.large {
    width: 6rem;
    height: 6rem
}

.icon i:before,
.icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 1.5rem
}

a.icon {
    display: inline-block
}

.image.large:before {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transform-origin: top;
    transform-origin: top
}

.image.small:before {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: top;
    transform-origin: top
}

img {
    max-width: 100%;
    height: auto
}

img.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.embed-container {
    margin-top: 8rem;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.hero+.section .embed-container {
    margin-top: 0
}

p+.embed-container {
    margin-top: 4rem!important
}

.video-simulator {
    margin-top: 8rem
}

.video-simulator.small {
    width: 12rem
}

.video-simulator .placeholder {
    position: relative
}

.video-simulator img {
    width: 100%;
    height: auto;
    display: block
}

.video-simulator .icon {
    border: 6px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out
}

@media only screen and (min-width:0) {
    .video-simulator .icon {
        -webkit-transform: translate(-50%, -50%) scale(.75);
        transform: translate(-50%, -50%) scale(.75)
    }
}

.video-simulator.faded img {
    opacity: .75;
    transition: opacity .3s ease-in-out
}

.video-simulator a:hover img {
    opacity: 1
}

.hero+.section .video-simulator {
    margin-top: 0
}

p+.video-simulator {
    margin-top: 4rem!important
}

.media-object {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.block .media-object {
    padding: 0
}

.media-object.media-on-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.media-object.media-on-top .icon,
.media-object.media-on-top i.image:before,
.media-object.media-on-top img {
    margin-bottom: 1rem
}

.media-object.media-on-top i.image.large:before {
    margin-bottom: 3rem
}

@media (-ms-high-contrast:none),
screen and (-ms-high-contrast:active) {
    .media-object.media-on-top img {
        width: 100%;
        max-width: 4rem;
        margin-left: auto;
        margin-right: auto
    }
    .media-object.media-on-top img.large {
        max-width: 6rem
    }
}

@supports (-ms-ime-align:auto) {
    .media-object.media-on-top img {
        width: 100%;
        max-width: 4rem;
        margin-left: auto;
        margin-right: auto
    }
    .media-object.media-on-top img.large {
        max-width: 6rem
    }
}

@media only screen and (min-width:768px) {
    .media-object {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
}

@media only screen and (min-width:1280px) {
    .media-object blockquote+.media {
        margin-left: 2rem
    }
}

.media-object .icon,
.media-object .media {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-bottom: 1rem
}

.media-object .icon img,
.media-object .media img {
    display: block
}

@media only screen and (min-width:768px) {
    .media-object .icon,
    .media-object .media {
        margin: 0 2rem 0 0
    }
}

.media-object h4 {
    margin: 0!important
}

.large-media-object .content+.media,
.large-media-object .media+.content {
    padding-top: 3rem
}

@media only screen and (min-width:1280px) {
    .large-media-object .content+.media,
    .large-media-object .media+.content {
        padding-top: 0
    }
}

@media only screen and (min-width:1280px) {
    .large-media-object .media {
        text-align: right
    }
    .off-axis.inverse .large-media-object .media {
        text-align: left
    }
}

.lazyload,
.lazyloading {
    opacity: 0!important
}

.lazyloaded {
    opacity: 1;
    transition: opacity .3s ease-in-out
}

.spacer {
    height: 1px;
    margin: 1rem 0
}

.spacer.x2 {
    margin: 2rem 0
}

.spacer.x3 {
    margin: 3rem 0
}

.spacer.x4 {
    margin: 4rem 0
}

.spacer.x5 {
    margin: 5rem 0
}

.spacer.x6 {
    margin: 6rem 0
}

hr {
    border: none
}

hr.thick {
    height: 6px;
    margin: 2rem 0;
    border-radius: 5px
}

hr.thin {
    height: 1px
}

hr.short {
    width: 10rem;
    margin-right: auto;
    margin-left: auto
}

.section+hr {
    margin-top: 0;
    margin-bottom: 0
}

.image,
.vertical-list.icon-check li:before {
    font-size: 10px
}

.image:before,
.vertical-list.icon-check li:before {
    content: " ";
    vertical-align: middle;
    display: inline-block;
    background-image: url(../img/sprite.svg);
    background-repeat: no-repeat;
    background-size: 14em 36.6em
}

.no-svg .image:before,
.no-svg .vertical-list.icon-check li:before,
.vertical-list.icon-check .no-svg li:before {
    background-image: url(../img/sprite.svg)
}

.image.icon-arrow-down:before,
.vertical-list.icon-check li.icon-arrow-down:before {
    background-position: -1em -1em;
    width: 2.4em;
    height: 1.5em
}

.image.icon-arrow-down-light:before,
.vertical-list.icon-check li.icon-arrow-down-light:before {
    background-position: -1em -4.5em;
    width: 2.4em;
    height: 1.5em
}

.image.icon-checkmark:before,
.vertical-list.icon-check li:before {
    background-position: -1em -8em;
    width: 1.3em;
    height: 1em
}

.image.icon-close-light:before,
.vertical-list.icon-check li.icon-close-light:before {
    background-position: -1em -11em;
    width: 2.4em;
    height: 2.4em
}

.image.icon-person:before,
.vertical-list.icon-check li.icon-person:before {
    background-position: -1em -15.4em;
    width: 12em;
    height: 12em
}

.image.icon-play-dark:before,
.vertical-list.icon-check li.icon-play-dark:before {
    background-position: -1em -29.4em;
    width: 2.1em;
    height: 2.1em
}

.image.icon-play-light:before,
.vertical-list.icon-check li.icon-play-light:before {
    background-position: -1em -33.5em;
    width: 2.1em;
    height: 2.1em
}

.wrapper {
    width: 85%;
    margin-left: auto;
    margin-right: auto
}

.wrapper.fw {
    width: 100%;
    max-width: 100%
}

@media only screen and (min-width:1280px) {
    .wrapper.off-axis {
        margin-right: 0;
        width: 92.5%;
        max-width: 100%
    }
    .wrapper.off-axis.inverse {
        margin-right: auto;
        margin-left: 0
    }
}

@media only screen and (min-width:768px) {
    .wrapper {
        width: 85%;
        max-width: 120rem
    }
}

.section {
    padding-top: 6rem;
    padding-bottom: 6rem
}

@media only screen and (min-width:768px) {
    .section {
        padding-top: 3rem;
        padding-bottom: 3rem
    }
}

.section-title {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem
}

@media only screen and (min-width:768px) {
    .section-title {
        width: 75%;
        margin: 0 auto 6rem
    }
}

@media only screen and (min-width:1280px) {
    .section-title {
        width: 50%
    }
}

.horizontal-list,
.vertical-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.vertical-list {
    padding: 2rem 0
}

.vertical-list li {
    padding: 1rem 0
}

.vertical-list.extra-space li {
    padding: 1.5rem 0
}

.vertical-list.with-border li {
    border-bottom: 1px solid
}

.vertical-list.with-border li:last-child {
    border-bottom: none
}

.vertical-list.with-icon li {
    position: relative
}

.vertical-list.with-icon li:before {
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle
}

.horizontal-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.horizontal-list li {
    padding: 1rem
}

.horizontal-list.compact li {
    padding: .5rem
}

.horizontal-list.faded i.image,
.horizontal-list.faded img {
    opacity: .25
}

.horizontal-list.extra-padding {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.horizontal-list.extra-space li {
    padding: 2rem 4rem
}

.well {
    padding: 2rem;
    text-align: center;
    width: 100%;
    border-radius: 5px
}

@media only screen and (min-width:768px) {
    .well {
        padding: 4rem
    }
}

.hero,
.hero .content {
    position: relative
}

.hero .content {
    text-align: center;
    padding-bottom: 6rem;
    z-index: 1
}

.hero .content .media {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.hero header {
    position: relative;
    z-index: 2
}

.hero .hero-bg {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-size: cover
}

.hero.dark-overlay .hero-bg:after,
.hero.light-overlay .hero-bg:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%
}

@media only screen and (min-width:1280px) {
    .hero .content {
        text-align: left;
        padding: 6rem 0
    }
    .hero .content .media {
        padding-top: 0;
        padding-bottom: 0
    }
}

.card {
    padding: 6rem 4rem;
    margin: 1rem 0;
    position: relative;
    z-index: 100;
    border-radius: 5px
}

.card.highlight {
    z-index: 101
}

@media only screen and (min-width:1280px) {
    .card.highlight {
        margin-top: -1rem
    }
}

.card.with-border {
    border: 1px solid
}

.card h5+hr,
.card p+hr {
    margin: 2rem auto
}

.card h5 {
    margin-top: 0
}

.corner-ribbon {
    position: relative;
    overflow: hidden
}

.corner-ribbon:before {
    position: absolute;
    top: 1.875rem;
    left: -3.75rem;
    content: attr(data-ribbon);
    padding: 1rem 0;
    width: 15rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.corner-ribbon.top-right:before {
    right: -3.75rem;
    left: auto;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

footer .logo,
footer .logo:before {
    margin-bottom: 0rem
}

form {
    padding-top: 3rem
}

form input[type=email],
form input[type=number],
form input[type=password],
form input[type=text],
form input[type=url],
form textarea {
    border: 1px solid;
    width: 100%;
    outline: none;
    padding: 1.5rem;
    -webkit-appearance: none;
    transition: all .3s ease-in-out;
    border-radius: 5px
}

form .button {
    margin-top: 0!important
}

form label {
    margin-bottom: 1rem;
    display: block
}

form label.visuallyhidden {
    position: absolute;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0
}

form .form-group {
    margin-bottom: 1.5rem
}

form .form-group.inline .button,
form .form-group.inline button,
form .form-group.inline input {
    margin-top: .75rem!important;
    margin-bottom: .75rem!important
}

@media only screen and (min-width:1280px) {
    form .form-group.inline .button,
    form .form-group.inline button,
    form .form-group.inline input {
        margin: .75rem!important
    }
}

form .form-group.inline .button,
form .form-group.inline button {
    width: 100%
}

@media only screen and (min-width:1280px) {
    form .form-group.inline {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    form .form-group.inline .button,
    form .form-group.inline button {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto
    }
}

@media only screen and (min-width:768px) {
    form .form-group {
        margin-bottom: 2rem
    }
}

form.alternate input[type=email],
form.alternate input[type=number],
form.alternate input[type=password],
form.alternate input[type=text],
form.alternate input[type=url],
form.alternate textarea {
    border: 0;
    border-bottom: 6px solid;
    padding: 1rem 0;
    height: 3rem;
    border-radius: 0
}

@media only screen and (min-width:768px) {
    form.alternate input[type=email],
    form.alternate input[type=number],
    form.alternate input[type=password],
    form.alternate input[type=text],
    form.alternate input[type=url],
    form.alternate textarea {
        height: 1rem
    }
}

form.alternate label {
    margin-bottom: 0
}

.form-container {
    max-width: 35rem;
    margin: 4rem auto 0
}

.form-container form {
    padding-top: 0
}

.form-container.with-header header {
    padding: 2rem;
    text-align: center;
    border-radius: 5px 5px 0 0
}

.form-container.with-header header p {
    margin: 0
}

.form-container.with-header .content {
    border-radius: 0 0 5px 5px
}

.form-container .content {
    padding: 2rem 1rem;
    text-align: left;
    border-radius: 5px
}

.form-container .content p {
    text-align: center
}

.form-container .content p:last-child {
    margin: 2rem 0 0
}

.form-container.with-header.chevron {
    position: relative
}

.form-container.with-header.chevron header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
    position: absolute;
    width: 100%;
    padding-bottom: 3rem
}

.form-container.with-header.chevron .content {
    padding-top: 12rem;
    border-radius: 5px
}

.form-container.square .content,
.form-container.square header {
    border-radius: 0
}

@media only screen and (min-width:1280px) {
    .form-container {
        margin: 0 auto
    }
}

#mc_embed_signup .indicates-required,
#mc_embed_signup .mc-field-group {
    margin-bottom: 1.5rem
}

#mc_embed_signup .mc-field-group.size1of2 {
    width: 50%
}

#mc_embed_signup .birthday,
#mc_embed_signup .datepart {
    width: auto
}

#mc_embed_signup ul {
    list-style: none;
    padding: 0;
    margin: 0
}

#mc_embed_signup ul label {
    display: inline;
    text-transform: none;
    margin-left: .5rem
}

#mc_embed_signup .input-group strong {
    margin-bottom: 1.5rem;
    display: inline-block;
    text-transform: uppercase
}

#mc_embed_signup input.mce_inline_error {
    margin-bottom: 1rem
}

#mc_embed_signup div.mce_inline_error {
    border-radius: 5px
}

#mc_embed_signup .response {
    margin-bottom: 1.5rem;
    border: 1px solid;
    padding: 1rem;
    border-radius: 5px
}

.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.grid.gutter {
    margin-left: -1.5rem;
    margin-right: -1.5rem
}

.grid.block .cell {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

.grid.block .cell>div {
    height: 100%
}

.cell {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    width: 100%
}

.gutter>.cell {
    padding: 0 1.5rem
}

.cell.top {
    -ms-flex-item-align: start;
    align-self: flex-start
}

.cell.middle {
    -ms-flex-item-align: center;
    align-self: center
}

.cell.bottom {
    -ms-flex-item-align: end;
    align-self: flex-end
}

@media only screen and (min-width:768px) {
    .cell {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
}

@media only screen and (min-width:0) {
    .grid.sm-1>.cell,
    .grid>.sm-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
        max-width: 8.33333%
    }
    .grid.sm-2>.cell,
    .grid>.sm-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
        max-width: 16.66667%
    }
    .grid.sm-3>.cell,
    .grid>.sm-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }
    .grid.sm-4>.cell,
    .grid>.sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
        max-width: 33.33333%
    }
    .grid.sm-5>.cell,
    .grid>.sm-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
        max-width: 41.66667%
    }
    .grid.sm-6>.cell,
    .grid>.sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }
    .grid.sm-7>.cell,
    .grid>.sm-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
        max-width: 58.33333%
    }
    .grid.sm-8>.cell,
    .grid>.sm-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
        max-width: 66.66667%
    }
    .grid.sm-9>.cell,
    .grid>.sm-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }
    .grid.sm-10>.cell,
    .grid>.sm-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
        max-width: 83.33333%
    }
    .grid.sm-11>.cell,
    .grid>.sm-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
        max-width: 91.66667%
    }
    .grid.sm-12>.cell,
    .grid>.sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }
}

@media only screen and (min-width:768px) {
    .grid.md-1>.cell,
    .grid>.md-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
        max-width: 8.33333%
    }
    .grid.md-2>.cell,
    .grid>.md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
        max-width: 16.66667%
    }
    .grid.md-3>.cell,
    .grid>.md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }
    .grid.md-4>.cell,
    .grid>.md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
        max-width: 33.33333%
    }
    .grid.md-5>.cell,
    .grid>.md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
        max-width: 41.66667%
    }
    .grid.md-6>.cell,
    .grid>.md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }
    .grid.md-7>.cell,
    .grid>.md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
        max-width: 58.33333%
    }
    .grid.md-8>.cell,
    .grid>.md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
        max-width: 66.66667%
    }
    .grid.md-9>.cell,
    .grid>.md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }
    .grid.md-10>.cell,
    .grid>.md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
        max-width: 83.33333%
    }
    .grid.md-11>.cell,
    .grid>.md-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
        max-width: 91.66667%
    }
    .grid.md-12>.cell,
    .grid>.md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }
}

@media only screen and (min-width:1280px) {
    .grid.lg-1>.cell,
    .grid>.lg-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
        max-width: 8.33333%
    }
    .grid.lg-2>.cell,
    .grid>.lg-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
        max-width: 16.66667%
    }
    .grid.lg-3>.cell,
    .grid>.lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }
    .grid.lg-4>.cell,
    .grid>.lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
        max-width: 33.33333%
    }
    .grid.lg-5>.cell,
    .grid>.lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
        max-width: 41.66667%
    }
    .grid.lg-6>.cell,
    .grid>.lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }
    .grid.lg-7>.cell,
    .grid>.lg-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
        max-width: 58.33333%
    }
    .grid.lg-8>.cell,
    .grid>.lg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
        max-width: 66.66667%
    }
    .grid.lg-9>.cell,
    .grid>.lg-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }
    .grid.lg-10>.cell,
    .grid>.lg-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
        max-width: 83.33333%
    }
    .grid.lg-11>.cell,
    .grid>.lg-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
        max-width: 91.66667%
    }
    .grid.lg-12>.cell,
    .grid>.lg-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }
}

@media only screen and (min-width:1920px) {
    .grid.xlg-1>.cell,
    .grid>.xlg-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
        max-width: 8.33333%
    }
    .grid.xlg-2>.cell,
    .grid>.xlg-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
        max-width: 16.66667%
    }
    .grid.xlg-3>.cell,
    .grid>.xlg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }
    .grid.xlg-4>.cell,
    .grid>.xlg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
        max-width: 33.33333%
    }
    .grid.xlg-5>.cell,
    .grid>.xlg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
        max-width: 41.66667%
    }
    .grid.xlg-6>.cell,
    .grid>.xlg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }
    .grid.xlg-7>.cell,
    .grid>.xlg-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
        max-width: 58.33333%
    }
    .grid.xlg-8>.cell,
    .grid>.xlg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
        max-width: 66.66667%
    }
    .grid.xlg-9>.cell,
    .grid>.xlg-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }
    .grid.xlg-10>.cell,
    .grid>.xlg-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
        max-width: 83.33333%
    }
    .grid.xlg-11>.cell,
    .grid>.xlg-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
        max-width: 91.66667%
    }
    .grid.xlg-12>.cell,
    .grid>.xlg-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.round {
    border-radius: 5px
}

.circle {
    border-radius: 50%
}

.square {
    border-radius: 0
}

.auto,
.shrink {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.shrink {
    width: auto
}

.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.distribute {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

@media only screen and (min-width:0) {
    .hide-sm {
        display: none
    }
    .show-sm {
        display: block
    }
    .sm-auto,
    .sm-shrink {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }
    .sm-shrink {
        width: auto
    }
    .sm-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .sm-right {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
    .sm-distribute {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .sm-top {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .sm-middle {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .sm-bottom {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }
    .cell.sm-top {
        -ms-flex-item-align: start;
        align-self: flex-start
    }
    .cell.sm-middle {
        -ms-flex-item-align: center;
        align-self: center
    }
    .cell.sm-bottom {
        -ms-flex-item-align: end;
        align-self: flex-end
    }
    .sm-text-left {
        text-align: left
    }
    .sm-text-center {
        text-align: center
    }
    .sm-text-right {
        text-align: right
    }
}

@media only screen and (min-width:768px) {
    .hide-md {
        display: none
    }
    .show-md {
        display: block
    }
    .md-auto,
    .md-shrink {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }
    .md-shrink {
        width: auto
    }
    .md-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .md-right {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
    .md-distribute {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .md-top {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .md-middle {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .md-bottom {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }
    .cell.md-top {
        -ms-flex-item-align: start;
        align-self: flex-start
    }
    .cell.md-middle {
        -ms-flex-item-align: center;
        align-self: center
    }
    .cell.md-bottom {
        -ms-flex-item-align: end;
        align-self: flex-end
    }
    .md-text-left {
        text-align: left
    }
    .md-text-center {
        text-align: center
    }
    .md-text-right {
        text-align: right
    }
}

@media only screen and (min-width:1280px) {
    .hide-lg {
        display: none
    }
    .show-lg {
        display: block
    }
    .lg-auto,
    .lg-shrink {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }
    .lg-shrink {
        width: auto
    }
    .lg-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .lg-right {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
    .lg-distribute {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .lg-top {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .lg-middle {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .lg-bottom {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }
    .cell.lg-top {
        -ms-flex-item-align: start;
        align-self: flex-start
    }
    .cell.lg-middle {
        -ms-flex-item-align: center;
        align-self: center
    }
    .cell.lg-bottom {
        -ms-flex-item-align: end;
        align-self: flex-end
    }
    .lg-text-left {
        text-align: left
    }
    .lg-text-center {
        text-align: center
    }
    .lg-text-right {
        text-align: right
    }
}

@media only screen and (min-width:1920px) {
    .hide-xlg {
        display: none
    }
    .show-xlg {
        display: block
    }
    .xlg-auto,
    .xlg-shrink {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }
    .xlg-shrink {
        width: auto
    }
    .xlg-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .xlg-right {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
    .xlg-distribute {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .xlg-top {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .xlg-middle {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .xlg-bottom {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }
    .cell.xlg-top {
        -ms-flex-item-align: start;
        align-self: flex-start
    }
    .cell.xlg-middle {
        -ms-flex-item-align: center;
        align-self: center
    }
    .cell.xlg-bottom {
        -ms-flex-item-align: end;
        align-self: flex-end
    }
    .xlg-text-left {
        text-align: left
    }
    .xlg-text-center {
        text-align: center
    }
    .xlg-text-right {
        text-align: right
    }
}

header.main {
    padding: 6rem 4rem
}

@media only screen and (min-width:1280px) {
    header.main {
        padding: 4rem
    }
    header.main.no-nav {
        padding: 6rem 4rem
    }
}

header.main.cloned {
    padding: 1.5rem 4rem
}

nav.menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0
}

nav.menu ul li {
    margin-left: 3rem
}

nav.menu ul li a:not(.button) {
    padding: 1rem 0;
    display: inline-block;
    letter-spacing: .5px;
    transition: color .3s ease-in-out
}

nav.menu ul li .button {
    margin-top: 0
}

.tabs {
    display: none
}

.tabs ol,
.tabs ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.tabs ol li,
.tabs ul li {
    cursor: pointer;
    padding: 2.2rem 4rem 2rem;
    position: relative
}

.tabs ol li:after,
.tabs ul li:after {
    content: "";
    border-right: 1px solid;
    height: 30%;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.tabs ol li:last-child:after,
.tabs ul li:last-child:after {
    border: none
}

@media only screen and (min-width:1280px) {
    .tabs {
        display: inline-block
    }
    body.no-js .tabs {
        display: none
    }
}

@media only screen and (min-width:1280px) {
    .tab-container {
        overflow: none;
        clear: both;
        width: 100%
    }
}

.accordion-tab {
    display: block;
    padding: 2.2rem 2rem 2rem;
    margin-top: 1px;
    position: relative;
    margin: 1rem 0;
    border-radius: 5px
}

.accordion-tab:after {
    content: "+";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2rem
}

.accordion-tab.active:after {
    content: "-"
}

@media only screen and (min-width:1280px) {
    .accordion-tab {
        display: none
    }
}

.tab-content {
    padding: 2rem 0
}

.tab-content img {
    max-width: 100%;
    height: auto
}

.tab-content.active {
    display: block
}

@media only screen and (min-width:1280px) {
    .tab-content {
        display: none;
        margin-top: 4rem;
        padding: 0
    }
    body.no-js .tab-content {
        margin-top: 0
    }
}

.show-on-cloned {
    display: none
}

header.cloned {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    display: none;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out
}

header.cloned.visible {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

header.cloned .show-on-cloned {
    display: block
}

header.cloned .hide-on-cloned {
    display: none
}

@media only screen and (min-width:1280px) {
    header.cloned {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.slbOverlay,
.slbWrap,
.slbWrapOuter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.slbOverlay {
    overflow: hidden;
    z-index: 100000;
    -webkit-animation: a .5s;
    animation: a .5s
}

.slbWrapOuter {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100001
}

.slbWrap {
    position: absolute;
    text-align: center
}

.slbWrap:before {
    content: "";
    height: 100%
}

.slbContentOuter,
.slbWrap:before {
    display: inline-block;
    vertical-align: middle
}

.slbContentOuter {
    position: relative;
    margin: 0 auto;
    padding: 0 2rem;
    z-index: 100002;
    text-align: left;
    max-width: 100%
}

.slbContentEl .slbContentOuter {
    padding: 4rem 2rem
}

@media only screen and (min-width:768px) {
    .slbContentOuter {
        padding: 0 4rem
    }
}

.slbContent {
    position: relative
}

.slbContentEl .slbContent,
.slbImageWrap {
    -webkit-animation: b .5s;
    animation: b .5s
}

.slbImageWrap {
    position: relative
}

.slbImageWrap:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 4rem;
    bottom: 4rem;
    display: block;
    z-index: -1
}

.slbImage {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 4em 0;
    margin: 0 auto
}

.slbCaption {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem 0;
    text-align: center
}

.slbArrow,
.slbCloseBtn {
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: none;
    opacity: .5;
    outline: none;
    transition: opacity .3s ease-in-out
}

.slbArrow::-moz-focus-inner,
.slbCloseBtn::-moz-focus-inner {
    padding: 0;
    border: 0
}

.slbArrow:hover,
.slbCloseBtn:hover {
    opacity: 1
}

.slbCloseBtn {
    -webkit-animation: b .5s;
    animation: b .5s;
    position: absolute;
    right: 2rem;
    top: 0
}

.slbLoading .slbCloseBtn {
    display: none
}

@media only screen and (min-width:768px) {
    .slbCloseBtn {
        right: 4rem
    }
}

.slbArrows {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0
}

.slbLoading .slbArrows {
    display: none
}

.slbArrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 4rem;
    height: 4rem;
    text-indent: -999rem;
    overflow: hidden
}

.slbArrow:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    border: .75rem solid transparent
}

.slbArrow.next {
    right: 0
}

.slbArrow.prev {
    left: 0
}

.slbIframeCont {
    width: 80rem;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
    margin: 6rem 0
}

.slbIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.slider-container {
    padding: 6rem 0 10rem;
    border-radius: 5px
}

.slider-container blockquote {
    width: 95%;
    padding-bottom: 2rem
}

@media only screen and (min-width:1280px) {
    .slider-container blockquote {
        width: 50%
    }
}

body.no-js .slider-container {
    text-align: center;
    padding-bottom: 6rem
}

body.no-js .slider-container>div {
    margin-bottom: 4rem
}

body.no-js .slider-container>div:last-child {
    margin-bottom: 0
}

.slick-slide {
    text-align: center;
    outline: none;
    padding: 0 2rem
}

.slick-slide img {
    display: inline-block;
    max-height: 7.5rem
}

.slick-dots {
    position: absolute;
    bottom: 6rem;
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0
}

.slick-dots li {
    display: inline-block;
    margin: 0 .35rem
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 2rem;
    height: 2rem;
    padding: 0;
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
    position: relative;
    transition: border .3s ease-in-out;
    border-radius: 50%
}

.slick-dots li button:after {
    content: "";
    display: block;
    width: .65rem;
    height: .65rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: background .3s ease-in-out
}

@-webkit-keyframes a {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes a {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes b {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -1rem, 0);
        transform: translate3d(0, -1rem, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes b {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -1rem, 0);
        transform: translate3d(0, -1rem, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.demo-assistant {
    display: none
}

@media only screen and (min-width:768px) {
    .demo-assistant {
        display: block;
        position: fixed;
        left: -18rem;
        top: 0;
        height: 100%;
        width: 18rem;
        background: #fff;
        z-index: 9999999;
        padding: 3rem 2rem;
        font-size: .88rem;
        font-family: Arial, Helvetica, sans-serif;
        transition: left .3s ease-in;
        border: 1px solid #c6d3e7;
        border-right: 3px solid #33507b;
        border-radius: 0 3px 3px 0;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, .06)
    }
    .demo-assistant.visible {
        left: 0
    }
    .demo-assistant h6 {
        margin-bottom: 1rem;
        font-size: .88rem
    }
    .demo-assistant h6:first-child {
        margin-top: 0
    }
    .demo-assistant ul {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 1.8
    }
    .demo-assistant ul li a {
        color: #33507b
    }
    .demo-assistant ul li a.active {
        font-weight: 700
    }
    .demo-assistant .button-group {
        font-size: 0
    }
    .demo-assistant .button-group .button {
        cursor: pointer;
        margin: 0;
        font-size: .88rem;
        background-color: #33507b;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 0
    }
    .demo-assistant .button-group .button:first-child {
        border-radius: 3px 0 0 3px
    }
    .demo-assistant .button-group .button:last-child {
        border-radius: 0 3px 3px 0
    }
    .demo-assistant .button-group .button:hover {
        background-color: #42679f
    }
    .demo-assistant .button-group .button.active {
        background-color: #243957
    }
    .demo-assistant .handle {
        background-color: #33507b;
        position: absolute;
        right: -3rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 3rem;
        padding: 1rem 0;
        text-align: center;
        border-radius: 0 3px 3px 0
    }
    .demo-assistant .handle:hover {
        background-color: #42679f
    }
}

@media only screen and (min-width:1280px) {
    .demo-assistant {
        top: 10rem;
        height: auto
    }
}
